/*reglas generales*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5;
}

body{
    font-family: "Raleway";
    line-height: 2;
}

h1, h2{
    font-family: "Playfair";
}

h1{ 
    font-size:5rem;
    text-align: center;
    
} 

h2{
    font-family: 4rem;
    text-align: center;
     
}

h3{
    font-family: 4rem;
    text-align: center;

}

.hero img{
    object-fit: cover;
    width:100%;

}

.container1{
    width: 100%;
    
}

.container1 img{
    object-fit: cover;
    width: 60%;

}





header .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-footer > div{
    max-width: 20%;
    min-width: 15%;
}

footer .nav-list {
    display:flex;
    flex-direction: column;
}

nav{
    text-align: center;

}



a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    color: grey
}

.nombre{
    color:  #037BC0;
}

/* .section {
    display: flex;
    justify-content: center;
    padding: 110px 40px 130px;
    text-align: center;
    align-items: center;
    justify-content: center;
} */

.productos{
    margin:0 5%;
}

.container1{
    display: flex;
    flex-direction: row;
}

.container-producto2_3{
    display: flex;
}

.container-producto4_5_6{
    display: flex;
}

.descripcion-producto{
    background-color: #037BC0;
    text-align: center;
    color: white;
    padding: 5%;
    align-items: center;
    display: flex;
}

.categorias{
    display: flex;
    flex-direction: row;
    justify-content: center;

}


button{
    color: white;
    background: rgb(126, 204, 9);
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 0 5px;
}




img {
    max-width: 100%;
    height: auto;
  }



/*Media Query*/

/** Reescribir colores */

/** Productos */


